body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 50px;
  background: lightgrey;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background: white;
  overflow: scroll;
  margin: 10px;
}

.search {
  margin: 10px;
  flex-direction: column;
  display: flex;
  width: 50%;
}

#tag-search {
  margin-top: 10px;
}

h4 {
  line-height: 5%;
}

.student-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 2px lightgray;
}

button {
  margin-top: 20px;
  margin-right: 50px;
}

.icon-container {
  padding-top: 20px;
  padding-left: 50px;
}

.icon {
  border: 1px solid black;
  border-radius: 50%;
}

.student-profile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 350px;
}

#add-tag {
  margin-bottom: 10px;
}

.single-tag {
  margin-bottom: 10px;
  background-color: lightgray;
  padding: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
